
#block-views-slideshow-block {
	.carousel-indicators {
		li {
			background-color: #fff; // IE9
			border: none;
			height: 9px;
			width:  9px;
		}

		.active {
			background-color: @carousel-indicator-active-bg;
  	}
	}
}

.container-fluid {
	padding: 0;
}

.footer {
	background-color: @blue-christ;
}

#navbar {
	color: #ffffff;
	font-family: @font-titillium;
	font-size: 20px; 
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;

	a {
		background-color: transparent;
		color: #ffffff;
	}

	.menu {
		.first {
		padding-left: 67px !important;
	}

		.leaf {
			padding-left: 12px;
		}
	}

	.navbar-right {
		.webmail-icon {
			padding-right: 7px;
		}

		.facebook-icon {
			padding-left: 0;
		}
	}

	.logo {
		padding-right: 0px;
	}
}

.navbar-fixed-top {
	background-image: url("http://localhost/christ/sites/default/files/cabecalho.png");
	border: none;
	filter: alpha(opacity=95); 		/*opacidade pro IE*/
	opacity: 0.95;
	-moz-opacity: 0.95; 				/*opacidade pro mozila*/
}

.facebook-icon {
	background-image: url("../images/saturno.png");
}

.webmail-icon {
	background-image: url("../images/brabuleta.png");
}

.footer {
	border: none !important;
	color: @white;
	margin-top: 0 !important;
}

body {
	.page-node {
		padding-top: 0 !important;
	}
}